* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal
}

div.container {
   
    max-width: 750px;
    height: 630px;
    margin: auto;
    overflow: hidden;
}

    div.header {
        width: 750px;
        height: 109px;
    }

        div.header img {
            position: absolute;
            width: 69px;
            height: 69px;
            margin: 2px;
        }

        div.header h1 {
            padding: 20px 0 2px 75px;
            color: #474747;
        }

            div.header h1 span{
                color: #21659e;
            }

        div.header h2 {
            height: 30px;
            padding: 10px 0 10px 15px;
            background: linear-gradient(to bottom, #22659e, #5183ac, #22659e);
            color: white;
        }

  
    div.body {
        background: linear-gradient(to top, #ffffff 80%, #e4e4e4);
    }

        div.side_bar {
            width: 160px;
            height: 420px;
            display: inline-block;
            
        } 
            div.side_bar h5.label {
                font-weight: bold;
                margin: 15px 0 6px 3px;
            }

                h5.label span {
                    color: red;
                    font-weight: bold;
                }

            div.side_bar p.side_description {
                font-size: 10.5px;
                font-weight: bold;
                margin: 0 0 22px 3px;
            }
            
                p.side_description span {
                    color: #2e6da3;
                    font-weight: bold;
                }

            div.side_bar div.center{
                text-align: center;
            }

                div.center a {
                    font-size: 13px;
                    color: white;
                    text-decoration: none;
                    display: block;
                    border-radius: 5px;
                    padding: 6px;
                    box-shadow: 1px 1px 1px gray;
                    margin: 0 5px 3px;

                }

                    div.center a.watch{
                        background: linear-gradient(to bottom, #6399c3, #22659e)
                    }

                    div.center a.more {
                        background: linear-gradient(to bottom, #ebae57, #ef7200)
                    }

                div.center div.short_line {
                    background-color: #a2a1a1;
                    width: 159px;
                    height: 1px;
                    margin: 20px 0;
                }
                 
                div.center div.weeks {
                    height: 237px;
                    width: 159px;
                    color: white;
                    background-image: url("images/ad_background.png");
                    background-size: 330px 470px;
                    box-shadow: 1px 2px gray;
                }

                    div.weeks h3 {
                        padding-top: 14px;
                    }

                    div.weeks img.ninja_image {
                        height: 95px;
                    }

                    div.weeks a.learn {
                        background: linear-gradient(to bottom, #78d0e0, #00c0df);
                        font-size: 12px;
                        padding: 5px 0;
                        border-radius: 5px;
                        box-shadow: 1px 1px black;
                        margin: 7px 10px 0;
                    }

                        div.weeks a.learn span {
                            vertical-align: middle;
                            font-size: 10px;
                            background: linear-gradient(to right, #7fdcea, #edfafc);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

        div.main {
            display: inline-block;
            vertical-align: top;
            width: 547px;
            margin-left: 38px;
        }

                div img.home {
                    width: 18px;
                    height: 16px;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 8px;
                }

                div h5.dns {
                    margin-top: 10px;
                    display: inline-block;
                    vertical-align: top;
                    color: #326fa4;
                    font-size: 12px;
                }

                div img.phone {
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    margin-left: 325px;
                }

                div div.contact {
                    display: inline-block;
                    vertical-align: top;
                    width: 125px;
                    text-align: center;
                }

                    div.contact p {
                        padding-left: 5px;
                        font-size: 8px;
                        color: #7a7a7a;
                    }

                    div.contact h3 {
                        font-weight: bold;
                        color: #04c2e0;
                    }

            div.main div.long_line {
                margin: 10px 10px 0 0;
                border-top: 1px solid #a2a1a1;
            }

                div.long_line h5.cs_label_list {
                    font-weight: bold;
                    color: #2869a0;
                    font-size: 15px;
                    margin-top: 5px;
                }

                div.long_line p {
                    margin: 6px 0;
                    font-size: 11px;
                }

                    div.long_line p span {
                        color: #019db3;
                    }

                    div.long_line p span.cs_bold {
                        color: black;
                        font-weight: bold;
                    }

                div.long_line ul {
                    font-size: 11px;
                    margin: 0 5px 0 30px;
                }

                div.long_line ul li {
                    margin-bottom: 6px;
                }

                    div.long_line ul li span {
                        color: #019db3;
                    }

                div.long_line img {
                    margin: 0 0 5px 161px;
                    height: 83px;
                    width: 215px;
                }

                div.long_line h5.so_label_list {
                    margin: 3px 0 5px;
                    font-weight: bold;
                    color: #2869a0;
                    font-size: 15px;
                }

                div.long_line ol {
                    font-size: 11px;
                    margin: 0 5px 0 30px;
                }

                    div.long_line ol li {
                        margin: 0 0 6px 5px
                    }

                        div.long_line ol li span {
                            color: #019db3;
                        }

            div.main div.main_bottom {
                border: 4px solid #0085e0;
                box-shadow: 1px 0px 1px gray;
                border-bottom-style: none;
                margin: 18px 12px 0 6px;
            }

                div.main_bottom img {
                    margin: 10px 0 0 10px;
                    width: 85px;
                    height: 80px;
                    display: inline-block;
                    vertical-align: top;
                }

                div.main_bottom div.big_three {
                    margin: 10px 0 0 10px;
                    width: 411px;
                    display: inline-block;
                    vertical-align: top;
                }

                    div.big_three h5 {
                        font-weight: bold;
                        color: #2869a0;
                        font-size: 15px;
                    }

                    div.big_three p {
                        margin-top: 3px;
                        font-size: 11px;
                    }

                        div.big_three p span {
                            font-style: italic;
                            margin-bottom: 3px;
                        }

                        div.big_three p a {
                            text-decoration: none;
                            color: #019db3;
                        }

